@model Fusion.Models.SKK.SKKModels
@{
    ViewBag.Title = "Act";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
    double rating = 0.00;
    double weight = 0.00;
    double rating_overall = 0.00;
    double counter = 0;
    double rating_final = 0;
}
<style>
    .text {
        font-size: 18px;
        text-align: center;
    }

    .images {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1fr, minmax(200px, 200px));
    }
</style>
<div class="row">
    <div class="col-md-10 col-md-push-1">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @Model.Acts.FirstOrDefault(m => m.id == Model.ActId).description
                </h3>
            </div>
            <div class="panel-body">
                @foreach (var it in Model.ArticleBlocks)
                {
                    rating = 0;
                    rating_overall = 0;
                    weight = 0;
                    if (Model.ArticleBlockAccesses.Where(m => m.block_id == it.id && m.restaurant_id == Model.Acts.FirstOrDefault(j => j.id == Model.ActId).restaurant_id).Any())
                    {
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a data-toggle="collapse" href="#@it.id">@it.name</a>
                                </h3>
                            </div>
                            <div class="panel-collapse collapse" id="@it.id">
                                <div class="panel-body">
                                    @foreach (var g in Model.ActData.Where(m => m.act_id == Model.ActId && m.Article.block_id == it.id))
                                    {
                                        <div class="row">
                                            <div class="col-md-3">@g.Article.name</div>
                                            @if ((bool)g.accord)
                                            {
                                                <div class="glyphicon glyphicon-ok text-success text col-md-1"></div>
                                            }
                                            else
                                            {
                                                <div class="glyphicon glyphicon-remove text-danger text col-md-1"></div>
                                            }
                                            <div class="col-md-3">@g.comment</div>
                                            <div class="col-md-5">
                                                <div class="images">
                                                    @foreach (var y in Model.ActFiles.Where(n => n.act_data_id == g.id))
                                                    {
                                                        <img src="~/Files/@y.filename" style="max-width: 200px; max-height: 200px" />
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        rating += (int)g.rating;
                                        weight += (int)g.Article.weight;
                                    }
                                    @{
                                        rating_overall = Math.Round(((rating * 100.00) / weight), 2);
                                        rating_final += rating_overall;
                                        counter++;
                                    }
                                </div>
                            </div>
                            <div class="panel-footer">
                                Итоговый рейтинг блока: @rating_overall%
                            </div>
                        </div>
                    }
                }
                @{
                    rating_final = Math.Round((rating_final / counter), 2);
                }
            </div>
            <div class="panel-footer">
                Итоговый рейтинг: @rating_final%
            </div>
        </div>
    </div>
</div>