@model Fusion.Models.SKK.SKKModels
@{
    ViewBag.Title = "addActData";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
    double? rating_overall = 0;
    double? rating_overall_finish = 0;
    int i = 0;
    int? restaurant_id = Model.Acts.FirstOrDefault(m => m.id == Model.ActId).restaurant_id;
    double blocks_count = 0;
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.js"></script>
<style>
    .radion-null {
        display: none;
    }

    .td-radio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 0 !important;
    }

    .panel-footer {
        text-align: right;
        font-weight: bold;
        font-size: 1.2em;
    }

    #save {
        position: fixed;
        z-index: 999;
    }

    #back {
        position: fixed;
        z-index: 999;
    }

    @@media screen and (min-device-width: 321px) and (max-device-width: 600px) {
        .my-table {
            font-size: 0.7em !important;
        }

        .td-radio {
            padding-bottom: 20px;
        }

        .my-button {
            width: 50%;
            padding: 0;
        }

        .input-file {
            width: 0px;
        }
    }
</style>

@using (Html.BeginForm("addActData", "SKK", FormMethod.Post, new { id = "Form", enctype = "multipart/form-data" }))
{
    <h2>Заполнение данных акта СКК </h2>
    <input type="submit" class="btn btn-success" value="Сохранить" id="save" />
    <br />
    <br />
    @Html.ActionLink("Назад к списку", "Acts", null, new { @class = "btn btn-info", @id = "back" })
    <div class="row">
        <div class="col-md-12 col-xs-12">
            @Html.HiddenFor(m => m.ActId)
            @foreach (var it in Model.ArticleBlocks)
            {
                int? rating = 0;
                int? weight = 0;
                if (Model.ArticleBlockAccesses.Where(m => m.block_id == it.id && m.restaurant_id == restaurant_id).Any())
                {
                    blocks_count++;
                    <div class="col-md-8 col-md-push-2 col-xs-12 pager-item" id="page_@blocks_count" data-page-id="@blocks_count">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    @it.name
                                </h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered table-responsive my-table">
                                    <thead>
                                        <tr style="width:100%; min-width:100%; max-width:100%">
                                            <th style="width:10%; min-width:10%; max-width:10%">id</th>
                                            <th style="width: 40%; min-width:40%; max-width:40%">Статья</th>
                                            <th style="width:20%; min-width:20%; max-width:20%">Вес</th>
                                            <th style="width:20%; min-width:20%; max-width:20%">Соответствие да/нет</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var iy in Model.Articles.Where(g => g.block_id == it.id))
                                        {

                                            rating += Model.actDataMock[i].ActData.rating;
                                            //weight += Model.actDataMock[i].ActData.Article.weight;
                                            weight += iy.weight;
                                            <tr class="row-main" id="@i">
                                                <td>
                                                    @iy.id
                                                    @Html.HiddenFor(m => Model.Articles[i].id)
                                                </td>
                                                <td>@iy.name</td>
                                                <td>@iy.weight</td>
                                                <td class="td-radio" data-radio-value="@Model.actDataMock[i].Accord" data-article-weight="@Model.actDataMock[i].ActData.Article.weight">
                                                    @Html.RadioButtonFor(m => m.actDataMock[i].Accord, true, new { @class = "form-control act-radio radio-true" })
                                                    @Html.RadioButtonFor(m => m.actDataMock[i].Accord, false, new { @class = "form-control act-radio radio-false" })
                                                    @Html.HiddenFor(m => m.actDataMock[i].ArticleId)
                                                </td>
                                            </tr>
                                            <tr class="additional-information @i">
                                                <td>@iy.id</td>
                                                <td>@Html.TextBoxFor(m => m.actDataMock[i].ActData.comment, new { @class = "form-control", @placeholder = "Комментарий" })</td>
                                                <td width="40%">
                                                    <!--<label class="btn btn-info my-button">
                                                        Загрузить файл

                                                    </label>-->
                                                    <input type="file" multiple class="form-control" style="opacity: 100" name="@iy.id" />
                                                </td>
                                            </tr>
                                            if (Model.ActFiles.Where(n => n.act_data_id == Model.actDataMock[i].ActData.id).Any())
                                            {
                                                <tr>
                                                    <td colspan="4">
                                                        @foreach (var ij in Model.ActFiles.Where(n => n.act_data_id == Model.actDataMock[i].ActData.id))
                                                        {

                                                            <img src="~/Files/@ij.filename" style="max-width: 200px; max-height: 200px" />

                                                        }
                                                    </td>
                                                </tr>
                                            }
                                            i++;
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                @{
                                    double? percent = (rating * 100.00) / (double)weight;
                                    percent = Math.Round((double)percent, 2);
                                    rating_overall += percent;
                                }
                                Итог: @rating из @weight <br />
                                Процент соответствия: @percent %
                            </div>
                        </div>
                        @{
                            rating_overall_finish = rating_overall / blocks_count;
                        }
                    </div>
                }
            }
            <div class="col-md-8 col-md-push-2 col-xs-12">
                <ul id="pagination-demo" class="pagination-sm"></ul>
                <p class="">Итоговый процент соответствия: @Math.Round((double)rating_overall_finish, 2)%</p>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('#pagination-demo').twbsPagination({
            totalPages: @Html.Raw(blocks_count),
            visiblePages: 3,
            first: 'Первая',
            prev: 'Предыдущая',
            next: 'Следующая',
            last: 'Последняя',
            onPageClick: function (event, page) {
                $(".pager-item").each(function() {
                    var page_id = $("#"+this.id).attr("data-page-id") * 1;
                    if(page_id == page) {
                        $("#page_"+page_id).show()
                    }
                    else {
                        $("#page_"+page_id).hide()
                    }
                })
            }
        });
        var first_block = 0;
        $(".act-radio").each(function () {
            var item = $("row-main").find($("#" + this.id + ""));
            var tr = $("#" + this.id + "").parent().parent()[0];
                if (this.checked) {
                    if (this.value == 'False') {
                        $("." + tr.id + "").css("background-color", "#d9534f")
                        $("#" + tr.id + "").css("background-color", "#d9534f")
                    }
                    else {
                        $("." + tr.id + "").css("background-color", "#5cb85c")
                        $("#" + tr.id + "").css("background-color", "#5cb85c")
                    }
                }

        });
        $(".act-radio").change(function () {
            var item = $("row-main").find($("#" + this.id + ""));
            var tr = $("#" + this.id + "").parent().parent()[0];
            if (this.value == 'False') {
                $("." + tr.id + "").css("background-color", "#d9534f")
                $("#" + tr.id + "").css("background-color", "#d9534f")
            }
            else {
                $("." + tr.id + "").css("background-color", "#5cb85c")
                $("#" + tr.id + "").css("background-color", "#5cb85c")
            }
        });
    });
</script>