@model Fusion.Models.PIU

@{
    ViewBag.Title = "Редактирование ПИУ";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
}

<script src="~/Scripts/codebase/webix.js"></script>
<link href="~/Scripts/codebase/webix.css" rel="stylesheet" />
<script src="~/Scripts/codebase/i18n/ru.js"></script>
<style>
    #areaA {
        margin: 0;
        width: 100%;
        height: 600px;
        float: left;
        padding: 0;
    }

    .toAllow {
        color: #f00 !important;
    }

    .webix_hcell {
        height: 46px !important;
        line-height: 23px !important;
        text-align: center;
        font-size: 12px;
    }

    .webix_template {
        padding: 0 !important;
    }

    .level1css {
        font-weight: bold;
        color: #000;
        background-color: #b7dee8;
    }

    .level2css {
        color: #000;
    }

    .level3css {
        text-align: right;
        color: #555;
    }

    .rightAlign {
        text-align: right;
    }

    .factColumn {
        text-align: right;
        background-color: #ddd;
    }

    .normColumn {
        border-left: 1px solid #000;
        background: #b7e8c6;
        text-align: right;
    }

    .planColumn {
        text-align: right;
        border-left: 1px solid #000;
    }
    .divColumn {
        text-align: right;
        background-color: #ffddf3;
    }
    .itogColumn {
        text-align: right;
        background-color: #c8c8c8;
    }
    .misMatch {
        background-color: #ff8787;
    }
    .readonly {
        background-color: #999;
    }
</style>

<script type="text/javascript">
    webix.ready(function () {
        grid_rub = webix.ui({
            container: "tabl_rub",
            id: "grid_rub",
            view: "datatable",
            leftSplit: 2,
            rowHeight: 23,
            padding: 5,
            columns: [
                @Html.Raw(Model.ColumnsRub)
            ],
            data: {
                data: [
                    @Html.Raw(Model.Data)
                ]
            },
            on: {
                onBeforeEditStart: function (id) {
                    var row = id.row;
                    return !this.getItem(row)["readonly"];
                }
            },
            editable: true,
            select: "cell",
            multiselect: true,
            blockselect: true,
            clipboard: "block",
            navigation: "true",
            editaction: "dblclick",
            height: 450,
            math: true
        });

        webix.UIManager.addHotKey("any", function (view) {
            var pos = view.getSelectedId();
            view.edit(pos);
        }, grid_rub);

        grid_rub.attachEvent("onPaste", function (code, e) {
            grid_rub.refreshColumns();
        });

        //Проценты
        grid_prc = webix.ui({
            container: "tabl_prc",
            id: "grid_prc",
            view: "datatable",
            leftSplit: 2,
            rowHeight: 23,
            padding: 5,
            columns: [
                @Html.Raw(Model.ColumnsPrc)
            ],
            data: {
                data: [
                    @Html.Raw(Model.Data)
                ]
            },
            editable: true,
            select: "cell",
            multiselect: true,
            blockselect: true,
            clipboard: "block",
            navigation: "true",
            editaction: "dblclick",
            height: 500,
            math: true
        });

        webix.UIManager.addHotKey("any", function (view) {
            var pos = view.getSelectedId();
            view.edit(pos);
        }, grid_prc);

        grid_prc.attachEvent("onPaste", function (code, e) {
            grid_prc.refreshColumns();
        });

        var tabbar = {
            view: "tabbar", type: "bottom", multiview: true, options: [
                { value: "<span class='webix_icon fa-rub'></span><span style='padding-left: 4px'>ПиУ, руб.</span>", id: 'rubView' },
                { value: "<span class='webix_icon fa-tasks'></span><span style='padding-left: 4px'>ПиУ, %</span>", id: 'prcView' },
            ], height: 30
        };
        var data = {
            cells: [
                {
                    id: "rubView",
                    content: "areaRub",
                    select: true
                },
                {
                    id: "prcView",
                    content: "areaPrc"
                }
            ]
        };

        webix.ui({
            container: "areaA",
            rows: [
                data,
                tabbar
            ]
        });
    });

    function ExportToExcel() {
        var grid = $$("grid_rub");
        webix.message({ type: "default", text: "Подготовка данных..." });
        var serializedData = JSON.stringify(grid.serialize());
        $("#tableData").val(serializedData);
        $("#excelForm").submit();
        return false;
    }

    function IsNumber(value){
        if(typeof value == "undefined" || value == "")
            return true;
        else
            return $.isNumeric(value);
    }

    function Save() {
        var grid_rub = $$("grid_rub");

        if (!grid_rub.validate())
        {
            webix.message({ type: "error", text: "Сохранение невозможно, так как есть некорректные данные в таблице." });
            return;
        }

        webix.message({ type: "default", text: "Сохранение документа..." });
        $("#loader").show();
        var serializedData = grid_rub.serialize();
        webix.ajax().post("/PIU/Save?organization=@Model.Organization&toConfirm=false&quarter=@Model.Quarter", { data: serializedData }, function (result) {
            $("#loader").hide();
            var response = JSON.parse(result)
            webix.message({ type: response.result, text: response.message });
        });

        return false;
    }

    function ToConfirm() {
        var grid_rub = $$("grid_rub");

        if (!grid_rub.validate()) {
            webix.message({ type: "error", text: "Сохранение невозможно, так как есть некорректные данные в таблице." });
            return;
        }

        webix.message({ type: "default", text: "Сохранение документа..." });
        $("#loader").show();
        var serializedData = grid_rub.serialize();
        webix.ajax().post("/PIU/Save?organization=@Model.Organization&toConfirm=true&quarter=@Model.Quarter", { data: serializedData }, function (result) {
            $("#loader").hide();
            var response = JSON.parse(result)
            webix.message({ type: response.result, text: response.message });
        });

        return false;
    }

    function Confirm() {
        var grid_rub = $$("grid_rub");

        if (!grid_rub.validate())
        {
            webix.message({ type: "error", text: "Сохранение невозможно, так как есть некорректные данные в таблице." });
            return;
        }

        webix.message({ type: "default", text: "Согласование..." });
        $("#loader").show();
        var serializedData = grid_rub.serialize();
        webix.ajax().post("/PIU/Confirm?organization=@Model.Organization&date=@Model.StartDate", { data: serializedData }, function (result) {
            $("#loader").hide();
            var response = JSON.parse(result)
            webix.message({ type: response.result, text: response.message });
        });

        return false;
    }

    function GetVal(val)
    {
        if (!IsNumber(val))
            return '';
        else
            return val;
    };

    function markDiv(value, config) {
        if (Math.abs(value) > config["maxDiv"])
            return "misMatch";

        return value;
    }

    function markRO(value, config) {
        if (config["readonly"])
            return "readonly";

        return value;
    }
</script>

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-3 text-center">
        <div class=" alert alert-info">
            Организация: <b>@Model.Organization</b>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class=" alert alert-info">
            Начало периода: <b>@Model.StartDate</b>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class=" alert alert-info">
            Конец периода: <b>@Model.EndDate</b>
        </div>
    </div>
</div>

<div id="areaA"></div>
<div id="areaRub">
    <h3>ПиУ, руб.</h3>
    @if (Model.ToConfirm && Model.CanConfirm)
    {
        <input type="button" value="Согласовать" onclick="Confirm()" class="btn btn-success" />
    }
    else
    {
        if (!Model.ToConfirm && !Model.CanConfirm && !Model.Confirmation)
        {
            <input type="button" value="Сохранить" onclick="Save()" class="btn btn-success" />
            <input type="button" value="Отправить на согласование" onclick="ToConfirm()" class="btn btn-danger" />
        }
        else
        {
            <div class="alert">Документ находится на согласовании</div>
        }
    }
    <input type="button" value="Скачать Excel" onclick="ExportToExcel()" class="btn btn-danger" style="float:right" />
    <br/>
    <div id="tabl_rub"></div>
    <form action="ExportToExcel" method="post" target="_blank" id="excelForm">
        <input type="hidden" name="data" id="tableData" />
    </form>
</div>
<div id="areaPrc">
    <h3>Пиу, %</h3>
    <div id="tabl_prc"></div>
</div>

<div style="position:fixed; left: 0; top: 0; height: 100%; width: 100vw;background:#fff url('/images/1369408992_cat-3.gif') no-repeat center; display: none;z-index:9999;opacity:0.8;" id="loader">
    <h3 style="display:block; margin: 20px auto">Пожалуйста подождите...</h3>
</div>