
@{
    ViewBag.Title = "ReportIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Отчеты бонусного клуба</h2>
<div class="row">
    <div class="col-md-4">
        <p>@Html.ActionLink("Отчет по начислению/потратам баллов по дням", "DailyBPReport", "BC")</p>
        <p>@Html.ActionLink("Отчет по начислению/потратам баллов по месяцам", "MonthlyBPReport", "BC")</p>
    </div>
    <div class="col-md-4">
        <p>@Html.ActionLink("Отчет по начислению/потратам баллов по дням", "DailyBPReport", "BC")</p>
        <p>@Html.ActionLink("Отчет по начислению/потратам баллов по месяцам", "MonthlyBPReport", "BC")</p>
    </div>
    <div class="col-md-4">
        <p>@Html.ActionLink("Отчет по начислению/потратам баллов по дням", "DailyBPReport", "BC")</p>
        <p>@Html.ActionLink("Отчет по начислению/потратам баллов по месяцам", "MonthlyBPReport", "BC")</p>
    </div>
</div>