@model Fusion.Models.RKCRM.AddHoldersModel

@{
    ViewBag.Title = "Новый владелец";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $("#Holder_BirthD").mask("99.99.9999");
        $("#AddContactBtn").click(function () {
            var cc = @Model.Holder.Contacts.Count;
            $('#contactstable > tbody:last').append('<tr><input id="Holder_Contacts_' + cc + '__Dispatch" name="Holder.Contacts[' + cc + '].Dispatch" type="hidden" value="Yes"><td><select class="form-control" id="Holder_Contacts_' + cc + '__Type_ID" name="Holder.Contacts[' + cc + '].Type_ID"><option selected="selected" value="254">Мобильный</option><option value="252">Email</option></select></td><td><input class="form-control text-box single-line" id="Holder_Contacts_' + cc + '__Value" name="Holder.Contacts[' + cc + '].Value" type="text" value=""></td><td><input class="form-control text-box single-line" id="Holder_Contacts_' + cc + '__Notes" name="Holder.Contacts[' + cc + '].Notes" type="text" value=""></td></tr>');
            return false;
        });
    });
</script>

<h2>Новый владелец</h2>

@if (Model.LastResult != "")
{
    <p class="alert alert-danger">@Model.LastResult</p>
}

@if (Model.Holders != null && Model.Holders.Count > 0)
{ 
    <h5>Владельцы, у которых указан такой же номер телефона, как у создаваемого</h5>
    <table class="table table-bordered">
        <tr>
            <th>
                Ф.И.О.
            </th>
            <th>
                Группа
            </th>
            <th>
                Подразделение
            </th>
        </tr>
        @foreach (var h in Model.Holders)
        { 
            <tr>
                <td>
                    @Html.ActionLink(h.Full_Name, "EditPerson", new { @people_id = h.Holder_ID})
                </td>
                <td>
                    @h.Group_Name
                </td>
                <td>
                    @h.Division_Name
                </td>
            </tr>
        }
    </table>
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Holder.Group_ID)
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Основные данные
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Holder.L_Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Holder.L_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Holder.L_Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Holder.F_Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Holder.F_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Holder.F_Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Holder.M_Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Holder.M_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Holder.M_Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Holder.BirthD, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Holder.BirthD, "{0:dd.MM.yyyy}", new { @class = "form-control date" })
                        @Html.ValidationMessageFor(m => m.Holder.BirthD, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="panel panel-green">
                <div class="panel-heading">
                    Контактная информация
                    <a href="#" id="AddContactBtn" class="btn btn-default">Добавить контакт</a>
                    <div style="clear:both"></div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered" id="contactstable">
                        <tr>
                            <th>
                                Тип
                            </th>
                            <th>
                                Значение
                            </th>
                            <th>
                                Примечание
                            </th>
                        </tr>
                        @for (int i = 0; i < Model.Holder.Contacts.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.DropDownListFor(m => m.Holder.Contacts[i].Type_ID, Model.Holder.Contacts[i].ContactTypesSelectList, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Holder.Contacts[i].Value, new { @class = "form-control", @id = "phone" })
                                    @Html.ValidationMessageFor(m => m.Holder.Contacts[i].Value, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Holder.Contacts[i].Notes, new { @class = "form-control" })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
}