@model Fusion.Models.CRMTools
@{
    ViewBag.Title = "Сегмент " + @Model.Segment.SegmentName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script>
    $(function () {
        tinymce.init({
            selector: 'textarea',
            height: 500,
            theme: 'modern',
            plugins: [
              'advlist autolink lists link image charmap print preview hr anchor pagebreak',
              'searchreplace wordcount visualblocks visualchars code fullscreen',
              'insertdatetime media nonbreaking save table contextmenu directionality',
              'template paste textcolor colorpicker textpattern imagetools codesample toc help'
            ],
            toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview | forecolor backcolor | codesample help',
            image_advtab: true,
            language: "ru",
            templates: [
              { title: 'Test template 1', content: 'Test 1' },
              { title: 'Test template 2', content: 'Test 2' }
            ],
            content_css: [
              '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
              '//www.tinymce.com/css/codepen.min.css'
            ]
        });
    });
</script>

<h2>Сегмент "@Model.Segment.SegmentName"</h2>

<div class="row">
    <blockquote>
        <p>@Model.Segment.SegmentDescription</p>
    </blockquote>
    <p>SQL запрос</p>
    <blockquote>
        <code>@Model.Segment.SegmentQuery</code>
    </blockquote>
</div>

@using (Html.BeginForm("ViewSegment", "CRM", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(p => Model.Segment.id)
    @Html.HiddenFor(p => Model.Segment.SegmentName)
    @Html.HiddenFor(p => Model.Segment.SegmentDescription)
    @Html.HiddenFor(p => Model.Segment.SegmentQuery)

    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-5">
            <div class="form-group">
                @Html.LabelFor(m => Model.MailTitle)
                @Html.EditorFor(m => Model.MailTitle, new { htmlattributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => Model.MailText)
            @Html.TextAreaFor(m => Model.MailText, new { @class = "form-control", @cols = "20", @rows = "10" })
        </div>
        <input type="submit" value="Отправить" class="btn btn-primary" />
    </div>
}