@model Fusion.Models.EmailTemplate
@{
    ViewBag.Title = "Редактирование шаблон";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<style type="text/css" media="screen">
    #editor {
        width: 100%;
        height: 50vh;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ext-beautify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ext-chromevox.js"></script>


@using (Html.BeginForm("Edit", "Content", FormMethod.Post))
{
    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(p => p.Name)
            @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Title)
            @Html.TextBoxFor(p => p.Title, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div id="editor">@Model.Content</div>
        @Html.TextAreaFor(p => p.Content, new { @style="display:none", id="hiddenEditor" })
    </div>

    <input type="submit" value="Сохранить" class="btn btn-default" onclick="getValue();" />
}

<script>
    var editor = ace.edit("editor");
    editor.getSession().setMode("ace/mode/html");

    function getValue()
    {
        $("#hiddenEditor").val(editor.getValue());
        return false;
    }
</script>