@model Fusion.Models.RSS

@{
    ViewBag.Title = "Единый портал БК, КЦ и отчетности";
}
<h2>Vega</h2>

<script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Техническая поддержка
            </div>
            <div class="panel-body">
                <h4>Телефоны</h4>
                <blockquote>
                    ИТ Отдел
                    <ul class="list-unstyled">
                        <li>
                            <small>Начальник ИТ Отдела: +7 914 707-19-02 (Александр Тон)</small>
                        </li>
                        <li>
                            <small>Дежурный ОИТ: +7 914 710-78-12​⁠</small>
                        </li>
                    </ul>
                </blockquote>
                <h4>Рестораны</h4>
                <address>
                    <blockquote>
                        <span style="font-size: 16px">Токио (Мауро)</span>
                        <small>Владивосток, ул. Светланская, 121 (ост. Дальзавод)</small>
                        <small>Тел: +7 (423) 236-77-77</small>
                        <span style="font-size: 16px">
                            Токио (Гайдамак)
                        </span>
                        <small>Владивосток, ул. Светланская, 183В</small>
                        <small>Тел: +7 (423) 2-750-750</small>
                        <span style="font-size: 16px">
                            Токио (Киото)
                        </span>
                        <small>Владивосток, пр-кт Острякова, 8</small>
                        <small>Тел: +7 (423) 222-77-77</small>
                        <span style="font-size: 16px">
                            Токио Хоум
                        </span>
                        <small>Владивосток, пр-кт. 100 лет Владивостоку, 50А</small>
                        <small>Тел: +7 (423) 2-707-707</small>
                        <span style="font-size: 16px">
                            Токио Каваи
                        </span>
                        <small>Владивосток, ул. Семеновская, 7В</small>
                        <small>Тел: +7 (423) 244-77-77</small>
                        <span style="font-size: 16px">
                            Токио (Уссурийск)
                        </span>
                        <small>Уссурийск, ул. Комсомольская, 28</small>
                        <small>Тел: +7 (4234) 34-64-64</small>
                        <span style="font-size: 16px">
                            Токио (Находка)
                        </span>
                        <small>Находка, ул. пр-кт Мира, 2</small>
                        <small>Тел: +7 (4236) 61-77-77</small>
                        <span style="font-size: 16px">
                            Saint Fish (Находка)
                        </span>
                        <small>Находка, ул. пр-кт Мира, 2</small>
                        <small>Тел: +7 (4236) 611-611</small>
                    </blockquote>
                </address>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <!-- VK Widget -->
        <div id="vk_groups" style="margin:0 auto;"></div>
        <script type="text/javascript">
            VK.Widgets.Group("vk_groups", { mode: 4, wide: 0, width: "auto", height: "600" }, 48766047);
        </script>
    </div>
</div>

@foreach (var rc in Model.channels)
{
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @rc.rssTitle
            </div>
            <div class="panel-body">
                @foreach (var r in rc.rssNews)
                {
                    <div style="padding: 10px 0pt 20px 0pt;">
                        <table style="width:100%">
                            <tr>
                                <td>
                                    @r.pubDate
                                    <h5><a href="@r.newsLink">@r.newsTitle</a></h5>
                                    <div style="padding: 0pt 0pt 0pt 0pt;">
                                        @r.newsDescription
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
}