@model Fusion.Models.ZakupModel
@{
    ViewBag.Title = "CreateOrder";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
}
<script type="text/javascript" src="~/Content/filterTable.v1.0.min.js"></script> @*скрипт для фильтрации*@
<script>
    $(function () {
        $("#categoryId").change(function () {
            window.location.href = '/Zakup/CreateOrder?catId=' + $("#categoryId").val();
        });
        $("#sub").click(function () {
            var value = $("#count_0").val();
            if ($(value  != "")) { $("#IsOrdered_0").prop("checked", true) }
            else { $("#IsOrdered_0").prop("checked", false) }
        });
    });
</script>
<h2>Заявка</h2>

@Html.DropDownListFor(m => m.categoryId, Model.CategoriesSelectList, new { @class = "form-control"})
@using (Html.BeginForm("CreateOrder", "Zakup", FormMethod.Post, new { id = "Form" }))
{
    <input type="submit" class="btn btn-success" id="sub" value="Сохранить" />
    @Html.ActionLink("Перейти к списку", "Orders", null, new { @class = "btn btn-primary" })
    <div id="filters">
        <input id="namef" placeholder="Наименование..." />
    </div>
<table class="table table-bordered table-condensed table-responsive" id="mytable">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Поставщик</th>
            <th width="150px">Кол-во</th>
        </tr>
    </thead>
    <tbody id="target">
        @for (int i = 0; i < Model.items.Count(); i++ )
        {
            <tr>
                
                @if (Model.items[i].category_id == Model.categoryId)
                {
                    <td>
                        @Model.items[i].name
                        @Html.HiddenFor(m => m.items[i].id)
                        @Html.HiddenFor(m => m.items[i].name)
                        @Html.HiddenFor(m => m.items[i].category_id)
                        @Html.HiddenFor(m => m.items[i].measurement_id)
                        @Html.HiddenFor(m => m.items[i].vendor_id)
                    </td>
                    <td>
                        @Model.items[i].bd_vendor.name
                    </td>
                    <td>@Html.TextBoxFor(m => m.items[i].Count)</td>
                }
                else
                {
                    @Html.HiddenFor(m => m.items[i].id)
                    @Html.HiddenFor(m => m.items[i].name)
                    @Html.HiddenFor(m => m.items[i].category_id)
                    @Html.HiddenFor(m => m.items[i].measurement_id)
                    @Html.HiddenFor(m => m.items[i].vendor_id)
                }
            </tr>
        }
    </tbody>
</table>
    }
@** скрипт для фильтров *@
<script>
    filterTable(document.getElementById("target"), {
        0: new filterTable.Filter(document.getElementById("namef"),
        /* Коллбэк ф-ция валидации */
        function (value, filters, i) {
            var c_value = value.toLowerCase(),
                f_value = filters[i].value.toLowerCase();
            return c_value.indexOf(f_value) === 0;
        },
        "onkeyup"
    )
    });
</script>