@model Fusion.Models.ZakupModel


@{
    ViewBag.Title = "Nomenclatures";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
}
<script type="text/javascript" src="~/Content/filterTable.v1.0.min.js"></script> @*скрипт для фильтрации*@

<style>
    thead {
        background-color: #DBEAF9;
    }

    input[type="text"]:focus {
        cursor: text;
        outline: none;
    }

    input[type="text"] {
        width: 100%;
        padding: 0px;
        outline: none !important;
        border: 0px;
        cursor: cell;
    }
</style>
@{
    var j = Model.items.Count() + 1;
}
<link href="~/Scripts/chosen.min.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //Загрузочный экран
        $('#loader').css('display', 'none');
        //щикарные селекты со встроенным поиском
        $(".chosen").chosen({
            search_contains: true
        });

        var count = $('#rowsCount').val();
        var tbody = document.getElementsByTagName('tbody')[0];
        tbody = tbody.rows.length;
        $('#addRow').click(function () {
            count++;
            vall = 1 + count;
            var template = $('.records').first().clone()
            template.find('input[type=text]').val(null)
            template.find('#di').html(vall)
            $.each(template.find('input[type=text]'), function () {
                var name = $(this).attr('name');
                var id = $(this).attr('id');
                id = id.replace('0', vall-1);
                name = name.replace('0', vall-1);
                $(this).attr('name', name);
                $(this).attr('id', id)
            });
            $.each(template.find('input[type=hidden]'), function () {
                var name = $(this).attr('name');
                var id = $(this).attr('id');
                id = id.replace('0', vall-1);
                name = name.replace('0', vall-1);
                $(this).attr('name', name);
                $(this).attr('id', id);
                $(this).val(vall);
            });
            $.each(template.find('select'), function () {
                var name = $(this).attr('name');
                var id = $(this).attr('id');
                id = id.replace('0', vall-1);
                name = name.replace('0', vall-1);
                $(this).attr('name', name);
                $(this).attr('id', id)
            });
            $("date-picker").datepicker();
            $('#mytable').append(template);
        })
    });
</script>
<h2>Номенклатуры</h2>
<input  style="display: none;" id="rowsCount" value="@Model.list.bd_nomenclature.Count()"/>
<div style="position:absolute; left: 0; top: 0; height: 100%; width: 100vw; background:#fff url('/images/1369408992_cat-3.gif') no-repeat center; display: block;z-index:9999;opacity:0.8;" id="loader">
    <h3 style="display:block; margin: 20px auto">Пожалуйста подождите...</h3>
</div>
@using (Html.BeginForm("Nomenclatures", "Zakup", FormMethod.Post, new { id = "Form" }))
{
    <div id="wrapper">
        <table class="table table-bordered sortable" id="mytable">
            <thead>
                <tr>
                    <th>ИД</th>
                    <th>Наименование</th>
                    <th>Категория</th>
                    <th>Поставщик</th>
                    <th width="168px">Единица измерения</th>
                    <th width="100px">Цена</th>
                </tr>
            </thead>

            <tbody id="target">
                @for (int i = 0; i < Model.items.Count(); i++)
                {
                    Model.vendorName = Model.items[i].bd_vendor.name;
                    Model.categoryName = Model.items[i].bd_category.name;
                    Model.measurementName = Model.items[i].bd_measurement.name;
                    <tr class="records">
                        <td hidden>@Model.items[i].name</td>
                        <td id="di">@Model.items[i].id</td>
                        <td>@Html.TextBoxFor(m => m.items[i].name)</td>
                        <td>@Html.DropDownListFor(m => m.items[i].category_id, Model.CategoriesSelectList, new { @class = "form-control" })</td>
                        <td>@Html.DropDownListFor(m => m.items[i].vendor_id, Model.vendorsSelectList, new { @class = "form-control chosen" })</td>
                        <td>@Html.DropDownListFor(m => m.items[i].measurement_id, Model.MeasurementSelectList, new { @class = "form-control chosen" })</td>
                        <td>
                            @Html.HiddenFor(m => m.items[i].id)
                            @Html.TextBoxFor(m => m.items[i].Price)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <input type="button" value="Добавить товар" class="btn btn-primary"  id="addRow"/>
<input type="submit" value="Сохранить" class="btn btn-success" />
}
@** скрипт для фильтров *@
<script>
    filterTable(document.getElementById("target"), {
        0: new filterTable.Filter(document.getElementById("namef"),
        /* Коллбэк ф-ция валидации */
        function (value, filters, i) {
            var c_value = value.toLowerCase(),
                f_value = filters[i].value.toLowerCase();
            return c_value.indexOf(f_value) === 0;
        },
        "onkeyup"
    )
    });
</script>