@model Fusion.Models.ZakupModel

@{
    ViewBag.Title = "Nomenclatures";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
}
<style>
    thead {
        background-color: #DBEAF9;
    }

    input[type="text"]:focus {
        cursor: text;
        outline: none;
    }

    input[type="text"] {
        width: 100%;
        padding: 0px;
        outline: none !important;
        border: 0px;
        cursor: cell;
        background-color: #f8f8f8;
    }
</style>
@{
    var j = Model.items.Count() + 1;
}
<script>
    $(document).ready(function () {
        var count = 0;
        var tbody = document.getElementsByTagName('tbody')[0];
        tbody = tbody.rows.length;
        $('#addRow').click(function () {
            count++;
            vall = tbody + count;
            var template = $('.records').first().clone()
            template.find('input[type=text]').val(null)
            template.find('#di').html(vall)
            $.each(template.find('input[type=text]'), function () {
                var name = $(this).attr('name');
                var id = $(this).attr('id');
                id = id.replace('0', vall-1);
                name = name.replace('0', vall-1);
                $(this).attr('name', name);
                $(this).attr('id', id)
            });
            $.each(template.find('input[type=hidden]'), function () {
                var name = $(this).attr('name');
                var id = $(this).attr('id');
                id = id.replace('0', vall-1);
                name = name.replace('0', vall-1);
                $(this).attr('name', name);
                $(this).attr('id', id);
                $(this).val(vall);
            });
            $.each(template.find('select'), function () {
                var name = $(this).attr('name');
                var id = $(this).attr('id');
                id = id.replace('0', vall-1);
                name = name.replace('0', vall-1);
                $(this).attr('name', name);
                $(this).attr('id', id)
            });
            $('#mytable').append(template);
        })
    });
</script>
@using (Html.BeginForm("Nomenclatures", "Zakup", FormMethod.Post, new { id = "Form" }))
{
    <div>
        <table class="table table-striped table-bordered" id="mytable">
            <thead>
                <tr>
                    <th>ИД</th>
                    <th>Наименование</th>
                    <th>Категория</th>
                    <th>Поставщик</th>
                    <th width="200px">Единица измерения</th>
                    <th width="200px">Цена</th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.items.Count(); i++)
                {
                    Model.vendorName = Model.items[i].bd_vendor.name;
                    Model.categoryName = Model.items[i].bd_category.name;
                    Model.measurementName = Model.items[i].bd_measurement.name;
                    <tr class="records">
                        <td id="di">@Model.items[i].id</td>
                        <td>@Html.TextBoxFor(m => m.items[i].name)</td>
                        <td>@Html.DropDownListFor(m => m.items[i].category_id, Model.CategoriesSelectList, new { @class = "form-control" })</td>
                        <td>@Html.DropDownListFor(m => m.items[i].vendor_id, Model.vendorsSelectList, new { @class = "form-control" })</td>
                        <td>@Html.DropDownListFor(m => m.items[i].measurement_id, Model.MeasurementSelectList, new { @class = "form-control" })</td>
                        <td>
                            @Html.HiddenFor(m => m.items[i].id)
                            @Html.TextBoxFor(m => m.items[i].Price)
                        </td> 
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <input type="button" value="Добавить товар" class="btn btn-primary"  id="addRow"/>
<input type="submit" value="Сохранить" class="btn btn-success" />
}