@model Fusion.Models.ZakupModel
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
    string TableData = "";
    string selectState = "";
    decimal? sum = 0;
    if (LoginViewModel.IsMemberOf(Model.username, "ZakupAdmin"))
    {
        foreach (var it in Model.orders)
        {
            sum = it.bd_nomenclature.Price * it.count;
            TableData += "{id: \"" + it.id + "\", employee_name: \"" + it.bd_employee.full_name + "\", restaurant_name: \"" + it.bd_employee.bd_subdivision.name + "\", category_name: \"" + it.bd_category.name + "\", nomenclature_name: \"" + it.bd_nomenclature.name + "\", vendor_name: \"" + it.bd_nomenclature.bd_vendor.name + "\",measurement_name: \"" + it.bd_measurement.name + "\", price: \"" + it.bd_nomenclature.Price + "\", count: \"" + it.count + "\", summ: \"" + sum + "\", date_from: \"" + it.date + "\", date_end: \"" + it.date_end + "\", state: \"" + it.bd_states.name + "\", comment: \"" + it.comment + "\",";
            TableData += "}, \r\n";
        }
    }
    else
    {
        foreach (var it in Model.orders.Where(m => m.bd_employee.domain_login == Model.username))
        {
            sum = it.bd_nomenclature.Price * it.count;
            TableData += "{id: \"" + it.id + "\", employee_name: \"" + it.bd_employee.full_name + "\", restaurant_name: \"" + it.bd_employee.bd_subdivision.name + "\", category_name: \"" + it.bd_category.name + "\", nomenclature_name: \"" + it.bd_nomenclature.name + "\", vendor_name: \"" + it.bd_nomenclature.bd_vendor.name + "\",measurement_name: \"" + it.bd_measurement.name + "\", price: \"" + it.bd_nomenclature.Price + "\", count: \"" + it.count + "\", summ: \"" + sum + "\", date_from: \"" + it.date + "\", date_end: \"" + it.date_end + "\", state: \"" + it.bd_states.name + "\", comment: \"" + it.comment + "\",";
            TableData += "}, \r\n";
        }
    }

    foreach (var it in Model.stateSelectList)
    {
        selectState += " \"" + it.Text + "\", "; ;
    }
}
<style>
    .highlight_red {
        background-color: #fb541e;
        color: white;
    }
    .highlight_green {
        background-color: #669966;
        color: white;
    }
</style>
<script src="~/Scripts/codebase/webix.js"></script>
<link href="~/Scripts/codebase/webix.css" rel="stylesheet" />
<script src="~/Scripts/codebase/i18n/ru.js"></script>
<div style="position:fixed; left: 0; top: 0; height: 100%; width: 100vw;background:#fff url('/images/1369408992_cat-3.gif') no-repeat center; display: none;z-index:9999;opacity:0.8;" id="loader">
    <h3 style="display:block; margin: 20px auto">Пожалуйста подождите...</h3>
</div>

@if (LoginViewModel.IsMemberOf(Model.username, "ZakupUser"))
{
    
    using (Html.BeginForm("ExportOrders", "Zakup", FormMethod.Post, new { id = "Form" }))
    {
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Заказы за @Model.Period.ToString("MM.yyyy")</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <a class="btn btn-success" href="~/Files/Пустой бланк.xlsx">Скачать пустой бланк</a>
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.dateExportForEmployee, new { @type = "date", @required = "true", @class = "form-control", @style = "width: 200px" })
                    </div>
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-primary" value="Скачать заявки за выбранную дату" />
                    </div>
                </div>
                @Html.HiddenFor(m => m.username)
            </div>
        </div>
    }

    <h3>@Model.orders.FirstOrDefault(m => m.bd_employee.domain_login == Model.username).bd_employee.bd_subdivision.name</h3>
    @Html.ActionLink("Создать заказ", "CreateOrder", new { @catId = 1 }, new { @class = "btn btn-primary" })
}

<div id="tabl"></div>
<div id="paging_here"></div>
<input type="button" onclick="Save()" class="btn btn-success" value="Сохранить" />

<script>
    webix.ready(function () {
        webix.i18n.parseFormat = "%d.%m.%Y";
        webix.i18n.setLocale("ru-RU");
        grid = webix.ui({
            container: "tabl",
            rows: [
				{
				    id: "grid",
				    view: "datatable",
				    padding: 1,
				    resizeColumn: true,
				    columns: [
                      { id: "id", sort: "int", width: 50 },
                      { id: "employee_name", header: "Сотрудник", width: 200 },
                      { id: "restaurant_name", header: ["Ресторан", { content: "textFilter" }], editor: "text", width: 100, sort: "string" },
                      { id: "category_name", header: ["Категория", { content: "textFilter" }], width: 100, sort: "string" },
                      { id: "nomenclature_name", header: ["Наименование", { content: "textFilter" }], width: 250, sort: "string" },
                      { id: "vendor_name", header: ["Поставщик", { content: "textFilter" }], width: 300, sort: "string" },
                      { id: "measurement_name", header: "Ед. измерения", width: 100 },
                      { id: "price", header: "Цена", width: 100 },
                      { id: "count", header: "Кол-во", width: 100 },
                      { id: "summ", header: "Сумма", width: 100 },
                      { id: "date_from", header: ["Дата создания", { content: "textFilter" }], editor: "date", width: 120 },
                      { id: "date_end", header: ["Дата прихода", { content: "textFilter" }], editor: "date", width: 120 },
                      { id: "state", header: ["Статус", { content: "textFilter" }], editor: "select", options: [@Html.Raw(selectState)], width: 100 },
                      { id: "comment", header: "Комментарий", editor: "popup", width: 120 },
				    ],
				    data: {
				        data: [
                        @Html.Raw(TableData)
				        ]
				    },
				    editable: true,
				    scheme: {
                        $change: function (item) { 
				            if (item.state == "Прибыл")
                                item.$css = "highlight_green";
				            if (item.state == "Ожидается")
                                item.$css = "highlight_red";
				        }
				    },
				    select: "cell",
				    multiselect: true,
				    blockselect: true,
				    clipboard: "block",
				    navigation: "true",
				    editaction: "dblclick",
				    autoheight: true,

				    math: true,
				    yCount: 13, scrollY: false,
				    pager: {
				        template: "{common.first()} {common.prev()} {common.pages()} {common.next()} {common.last()}",
				        container: "paging_here",
				        size: 13,
				        group: 10
				    }
				},
            ]

        });
    });
    function Save() {
        
        var grid = $$("grid");


        webix.message({ type: "default", text: "Сохранение заказов..." });
        $("#loader").show();
        var grid = $$("grid");
        var serializedData = grid.serialize();
        webix.ajax().post("/Zakup/SaveOrdersAjax", { data: serializedData }, function (result) {
            $("#loader").hide();
            var response = JSON.parse(result);
            webix.message({ type: response.result, text: response.message });
        });

        return false;
    }
</script>