@model Fusion.Models.ZakupModel
@{
    ViewBag.Title = "Reclamation";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
}
<style>
    #Form a {
        text-decoration: underline;
    }
</style>
<div class="panel panel-yellow">
    <div class="panel-heading">
        <h3 class="panel-title">
            Список рекламации
        </h3>
    </div>
    <div class="panel-body">
@using (Html.BeginForm("Reclamation", "Zakup", FormMethod.Post, new { id = "Form" }))
{
    @Html.ActionLink("Добавить рекламацию", "addReclamation", null, new { @class="btn btn-primary" })
    /*@Html.ActionLink("123", "getReclamationWord", new {id = 1 })*/
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="info">
                <th style="display:none">id</th>
                <th>Просмотр</th>
                <th>Дата</th>
                <th>Ресторан</th>
                <th>Поставщик</th>
                <th>Номенклатура</th>
                <th>Проблема</th>
                <th>Статус</th>
                <th>Word</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.reclamations.Count(); i++)
            {
                string backgroundcolor = "";
                string color = "";
                switch (Model.reclamations[i].state_id)
                {
                    case 1:
                        backgroundcolor = "white";
                        color = "black";
                        break;
                    case 2:
                        backgroundcolor = "#fb541e";
                        color = "white";
                        break;
                    case 3:
                        backgroundcolor = "#669966";
                        color = "white";
                        break;
                    case 4:
                        backgroundcolor = "#337ab7";
                        color = "white";
                        break;
                    default: break;
                }
                Model.stateName = Model.reclamations[i].bd_states.name;
                <tr style="color: @color; background-color: @backgroundcolor">
                    <td style="display:none">@Html.HiddenFor(m => Model.reclamations[i].id)</td>
                    <td>@Html.ActionLink("Подробнее", "addReclamation", new { id = Model.reclamations[i].id }, new { @style="color:"+color+"" })</td>
                    <td>
                        @Model.reclamations[i].date.Date.ToShortDateString()
                    </td>
                    <td>@Model.reclamations[i].bd_subdivision.name</td>
                    <td>@Model.reclamations[i].bd_vendor.name</td>
                    <td>@Model.reclamations[i].bd_nomenclature.name</td>
                    <td>@Model.reclamations[i].bd_reclamation_problems.problem</td>
                    <td>@Model.reclamations[i].bd_states.name</td>
                    <td>@Html.ActionLink("Скачать", "ReclamationExport", new { reclamation_id = Model.reclamations[i].id }, new { @class="btn btn-primary" })</td>
                </tr>
                }
        </tbody>
    </table>
}
    </div>
</div>
