@model Fusion.Models.ZakupModel
@{
    ViewBag.Title = "Рекламации";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
    string tableData = "";
    foreach (var it in Model.reclamations)
    {
        tableData += "{id: \"" + it.id + "\", Details: \""+it.id+"\", Date: \"" + it.date.Date + "\", Restaurant: \"" + it.bd_subdivision.name + "\", Vendor: \"" + it.bd_vendor.name.Trim().Replace('"', '\'') + "\", Nomenclature: \"" + it.bd_nomenclature.name.Trim().Replace('"', '\'') + "\", Problem: \"" + it.bd_reclamation_problems.problem.Trim().Replace('"', '\'') + "\", State: \"" + it.bd_states.name + "\", Word: \""+it.id+"\"";
        tableData += "}, \r\n";
    }
}
<script src="~/Scripts/codebase/webix.js"></script>
<link href="~/Scripts/codebase/webix.css" rel="stylesheet" />
<script src="~/Scripts/codebase/i18n/ru.js"></script>
<style>
    #dataset a {
        color: inherit;
        text-decoration: underline;
    }
    .highlight_red {
        background-color: #fb541e;
        color: white;
    }

    .highlight_green {
        background-color: #669966;
        color: white;
    }

    .highlight_blue {
        background-color: #337ab7;
        color: white;
    }
</style>
<!--
<div class="panel panel-yellow">
    <div class="panel-heading">
        <h3 class="panel-title">
            Список рекламации
        </h3>
    </div>
    <div class="panel-body">
@using (Html.BeginForm("Reclamation", "Zakup", FormMethod.Post, new { id = "Form" }))
{
    @Html.ActionLink("Добавить рекламацию", "addReclamation", null, new { @class="btn btn-primary" })
    /*@Html.ActionLink("123", "getReclamationWord", new {id = 1 })*/
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="info">
                <th style="display:none">id</th>
                <th>Просмотр</th>
                <th>Дата</th>
                <th>Ресторан</th>
                <th>Поставщик</th>
                <th>Номенклатура</th>
                <th>Проблема</th>
                <th>Статус</th>
                <th>Word</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.reclamations.Count(); i++)
            {
                string backgroundcolor = "";
                string color = "";
                switch (Model.reclamations[i].state_id)
                {
                    case 1:
                        backgroundcolor = "white";
                        color = "black";
                        break;
                    case 2:
                        backgroundcolor = "#fb541e";
                        color = "white";
                        break;
                    case 3:
                        backgroundcolor = "#669966";
                        color = "white";
                        break;
                    case 4:
                        backgroundcolor = "#337ab7";
                        color = "white";
                        break;
                    default: break;
                }
                Model.stateName = Model.reclamations[i].bd_states.name;
                <tr style="color: @color; background-color: @backgroundcolor">
                    <td style="display:none">@Html.HiddenFor(m => Model.reclamations[i].id)</td>
                    <td>@Html.ActionLink("Подробнее", "addReclamation", new { id = Model.reclamations[i].id }, new { @style="color:"+color+"" })</td>
                    <td>
                        @Model.reclamations[i].date.Date.ToShortDateString()
                    </td>
                    <td>@Model.reclamations[i].bd_subdivision.name</td>
                    <td>@Model.reclamations[i].bd_vendor.name</td>
                    <td>@Model.reclamations[i].bd_nomenclature.name</td>
                    <td>@Model.reclamations[i].bd_reclamation_problems.problem</td>
                    <td>@Model.reclamations[i].bd_states.name</td>
                    <td>@Html.ActionLink("Скачать", "ReclamationExport", new { reclamation_id = Model.reclamations[i].id }, new { @class="btn btn-primary" })</td>
                </tr>
                }
        </tbody>
    </table>
}
    </div>
</div>
    -->
<div class="panel panel-yellow">
    <div class="panel-heading">
        <h3 class="panel-title">
            Рекламации
        </h3>
    </div>
    <div class="panel-body">
        @Html.ActionLink("Добавить рекламацию", "addReclamation", null, new { @class = "btn btn-primary" })
        <div id="dataset">

        </div>
    </div>
</div>
<script>
    webix.ready(function () {
        webix.i18n.parseFormat = "%d.%m.%Y";
        webix.i18n.setLocale("ru-RU");
        grid = webix.ui({
            container: "dataset",
            rows: [
				{
				    id: "grid",
				    view: "datatable",
				    columns: [
                { id: "id", header: "id", width: 40, sort: "int" },
                {
                    id: "Details", header: "Подробности",
                    template: "<a href='/Zakup/addReclamation/#id#'>Подробнее</a>",
                    width: 108
                },
                { id: "Date", header: "Дата", width: 143, sort: "date" },
                { id: "Restaurant", header: ["Ресторан", { content: "textFilter" }], sort: "string", width: 117 },
                { id: "Vendor", header: ["Поставщик", { content: "textFilter" }], sort: "string", width: 220 },
                { id: "Nomenclature", header: ["Номенклатура", { content: "textFilter" }], sort: "string", width: 325 },
                { id: "Problem", header: ["Проблема", { content: "textFilter" }], sort: "string", width: 178 },
                { id: "State", header: ["Статус", { content: "textFilter" }], sort: "string", width: 96 },
                {
                    id: "Word", header: "Word",
                    template: "<a href='/Zakup/ReclamationExport?reclamation_id=#id#'>Скачать</a>",
                    width: 75
                }
            ],
				    data: {
				        data: [
                        @Html.Raw(tableData)
				        ]
				    },
				    autoheight: true,
                    autowidth: true,
                    scheme: {
                        $change: function (item) {
                            if (item.State == "Выполнено")
                                item.$css = "highlight_green";
                            if (item.State == "Ожидается")
                                item.$css = "highlight_red";
                            if (item.State == "Принято")
                                item.$css = "highlight_blue";
                        }
                    }
				},
            ]

        });
    });
</script>