@model Fusion.Models.ZakupModel
@{
    Layout = null;
}

<div class="col-lg-12" style="overflow-x:scroll">
    <table class="table table-bordered" id="Table">
        <thead>
            <tr>
                <th>RID</th>
                <th>Наименование</th>
                <th>Кол-во</th>
                <th>Ед. измерения</th>
                <th>Среднее * период</th>
                <th>Общий остаток</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var it in Model.remnantsList)
            {
                if (Model.GoodsBalances.Where(m => m.good.Name == it.name && m.balance > 0).Count() != 0)
                {
                    Random rand = new Random();
                    int purchasing_period = rand.Next(3, 10);
                    
                    double average_count = it.quantity / DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month);
                    double recommended_count = average_count * purchasing_period;
                    <tr>
                        <td>@it.RID</td>
                        <td>@it.name</td>
                        <td>@Math.Round(it.quantity, 2)</td>
                        <td>@it.measurements</td>
                        <td>@Math.Round(recommended_count, 1)</td>
                        <td>@Model.GoodsBalances.FirstOrDefault(m => m.good.Name == it.name).balance</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>