@model PagedList.IPagedList<Fusion.Models.ZakupModel.items1>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Nomenclatures";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
}
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Content/filterTable.v1.0.min.js"></script> @*скрипт для фильтрации*@
<input id="namef" />
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>VendorName</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody id="target">
        @foreach (var it in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => it.id)</td>
                <td>@Html.DisplayFor(m => it.name)</td>
                <td>@Html.DisplayFor(m => it.vendor_name)</td>
                <td>@Html.DisplayFor(m => it.price)</td>
            </tr>
        }  
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Test1", new { page }))
@** скрипт для фильтров *@
<script>
    filterTable(document.getElementById("target"), {
        1: new filterTable.Filter(document.getElementById("namef"),
        /* Коллбэк ф-ция валидации */
        function (value, filters, i) {
            var c_value = value.toLowerCase(),
                f_value = filters[i].value.toLowerCase();
            return c_value.indexOf(f_value) === 0;
        },
        "onkeyup"
    )
    });
</script>