@model Fusion.Models.ZakupModel

@{
    ViewBag.Title = "Vendors";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/tabsort0.css">
<script type="text/javascript" src="~/Content/tabsort0.js"></script> @*скрипт для сортировки*@
<script type="text/javascript" src="~/Content/filterTable.v1.0.min.js"></script> @*скрипт для фильтрации*@
<style>
    input[type="text"]:focus {
        cursor: text;
        outline: none;
    }

    input[type="text"] {
        width: 100%;
        padding: 0px;
        outline: none !important;
        border: 0px;
        cursor: cell;
    }
</style>

<div class="panel panel-yellow">
    <div class="panel-heading">
        <h3 class="panel-title">Поставщики</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Vendors", "Zakup", FormMethod.Post, new { id = "Form" }))
        {
            <div id="filters" >
                <input id="namef" placeholder="Наименование..." class="form-control" style="width: 200px"/>
            </div>
            <table class="table table-stripped table-bordered" id="mytable">
                <thead>
                    <tr class="success">
                        <td>ИД</td>
                        <td>Код</td>
                        <td>Наименование</td>
                        <td>Телефон</td>
                        <td>E-mail</td>
                        <td>Отправить сообщение</td>
                        <td hidden></td>
                        <td hidden></td>
                    </tr>
                </thead>

                <tbody id="target">
                    @for (int i = 0; i < Model.vendorList.Count(); i++)
                    {
                        <tr class="records">
                            <td hidden>@Model.vendorList[i].name</td>
                            <td id="di">
                                @Model.vendorList[i].id
                            </td>
                            <td>@Html.TextBoxFor(m => m.vendorList[i].code, new { @style = "width: 50px;" })</td>
                            <td style="width: 500px;">@Html.TextBoxFor(m => m.vendorList[i].name, new { })</td>
                            <td>@Html.TextBoxFor(m => m.vendorList[i].phones)</td>
                            <td>@Html.TextBoxFor(m => m.vendorList[i].INN)</td>
                            <td><a href="mailto:@Model.vendorList[i].INN" class="btn btn-success">Отправить</a></td>
                            <td hidden>@Html.HiddenFor(m => m.vendorList[i].id)</td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.ActionLink("Добавить поставщика", "addVendor", new { }, new { @class="btn btn-primary" })
            <input type="submit" value="Сохранить" class="btn btn-success" />
        }
    </div>
</div>

@** скрипт для фильтров *@
<script>
    filterTable(document.getElementById("target"), {
        0: new filterTable.Filter(document.getElementById("namef"),
        /* Коллбэк ф-ция валидации */
        function (value, filters, i) {
            var c_value = value.toLowerCase(),
                f_value = filters[i].value.toLowerCase();
            return c_value.indexOf(f_value) === 0;
        },
        "onkeyup"
    )
    });
</script>