@model Fusion.Models.ZakupModel

@{
    ViewBag.Title = "Vendors";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/tabsort0.css">
<script type="text/javascript" src="~/Content/tabsort0.js"></script> @*скрипт для сортировки*@
<script type="text/javascript" src="~/Content/filterTable.v1.0.min.js"></script> @*скрипт для фильтрации*@
<style>
    thead {
        background-color: #DBEAF9;
    }

    input[type="text"]:focus {
        cursor: text;
        outline: none;
    }

    input[type="text"] {
        width: 100%;
        padding: 0px;
        outline: none !important;
        border: 0px;
        cursor: cell;
    }
</style>
<script>
    $(document).ready(function () {
        var count = 0;
        var tbody = document.getElementsByTagName('tbody')[0];
        tbody = tbody.rows.length;
        $('#addRow').click(function () {
            count++;
            vall = tbody + count;
            var template = $('.records').first().clone()
            template.find('input[type=text]').val(null)
            template.find('#di').html(vall)
            $.each(template.find('input[type=text]'), function () {
                var name = $(this).attr('name');
                var id = $(this).attr('id');
                id = id.replace('0', vall - 1);
                name = name.replace('0', vall - 1);
                $(this).attr('name', name);
                $(this).attr('id', id)
            });
            $.each(template.find('input[type=hidden]'), function () {
                var name = $(this).attr('name');
                var id = $(this).attr('id');
                id = id.replace('0', vall - 1);
                name = name.replace('0', vall - 1);
                $(this).attr('name', name);
                $(this).attr('id', id);
                $(this).val(vall);
            });
            $('#mytable').append(template);
        })
    });
</script>
<h2>Поставщики</h2>
@using (Html.BeginForm("Vendors", "Zakup", FormMethod.Post, new { id = "Form" }))
{
    <div id="filters">
        <input id="namef" placeholder="Наименование..." />
    </div>
    <table class="table table-stripped table-bordered" id="mytable">
        <thead>
            <tr>
                <td>ИД</td>
                <td>Код</td>
                <td>Наименование</td>
                <td>Телефон</td>
                <td>E-mail</td>
                <td>Отправить сообщение</td>
                <td hidden></td>
                <td hidden></td>
            </tr>
        </thead>

        <tbody id="target">
            @for (int i = 0; i < Model.vendorList.Count(); i++)
            {
                <tr class="records">
                    <td hidden>@Model.vendorList[i].name</td>
                    <td id="di">
                        @Model.vendorList[i].id
                    </td>
                    <td>@Html.TextBoxFor(m => m.vendorList[i].code, new { @style = "width: 50px;" })</td>
                    <td style="width: 500px;">@Html.TextBoxFor(m => m.vendorList[i].name, new { })</td>
                    <td>@Html.TextBoxFor(m => m.vendorList[i].phones)</td>
                    <td>@Html.TextBoxFor(m => m.vendorList[i].INN)</td>
                    <td><a href="mailto:@Model.vendorList[i].INN" class="btn btn-success">Отправить</a></td>
                    <td hidden>@Html.HiddenFor(m => m.vendorList[i].id)</td>
                </tr>
            }
        </tbody>
    </table>
    <input type="button" class="btn btn-primary" id="addRow" value="Добавить поставщика" />
    <input type="submit" value="Сохранить" class="btn btn-success" />
}
@** скрипт для фильтров *@
<script>
    filterTable(document.getElementById("target"), {
        0: new filterTable.Filter(document.getElementById("namef"),
        /* Коллбэк ф-ция валидации */
        function (value, filters, i) {
            var c_value = value.toLowerCase(),
                f_value = filters[i].value.toLowerCase();
            return c_value.indexOf(f_value) === 0;
        },
        "onkeyup"
    )
    });
</script>