<div style="margin: 10px 0; border:none;">
    @using (Html.BeginForm("Overall", "CDR", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div style="display:none">
            <div class="form-group">
                <div class="col-xs-2">
                    @Html.LabelFor(m => m.SelectedQueues)
                    @Html.ListBoxFor(m => m.SelectedQueues, Model.Queues, new { @class = "form-control", @style = "height: 200px !important" })
                </div>
                <div class="col-xs-2">
                    @Html.LabelFor(m => m.SelectedAgents)
                    @Html.ListBoxFor(m => m.SelectedAgents, Model.Agents, new { @class = "form-control", @style = "height: 200px !important" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2">
                    @Html.LabelFor(m => m.start_dt)
                    @Html.TextBoxFor(m => m.start_dt, "{0:dd.MM.yyyy}", new { @class = "form-control date" })
                </div>
                <div class="col-xs-2">
                    @Html.LabelFor(m => m.end_dt)
                    @Html.TextBoxFor(m => m.end_dt, "{0:dd.MM.yyyy}", new { @class = "form-control date" })
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <input type="submit" value="Общая информация" class="btn btn-default" />
        </div>
    }
</div>
<div style="margin: 10px 0; border:none;">
    @using (Html.BeginForm("MissedCallsDetail", "CDR", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div style="display:none">
            <div class="form-group">
                <div class="col-xs-2">
                    @Html.LabelFor(m => m.SelectedQueues)
                    @Html.ListBoxFor(m => m.SelectedQueues, Model.Queues, new { @class = "form-control", @style = "height: 200px !important" })
                </div>
                <div class="col-xs-2">
                    @Html.LabelFor(m => m.SelectedAgents)
                    @Html.ListBoxFor(m => m.SelectedAgents, Model.Agents, new { @class = "form-control", @style = "height: 200px !important" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2">
                    @Html.LabelFor(m => m.start_dt)
                    @Html.TextBoxFor(m => m.start_dt, "{0:dd.MM.yyyy}", new { @class = "form-control date" })
                </div>
                <div class="col-xs-2">
                    @Html.LabelFor(m => m.end_dt)
                    @Html.TextBoxFor(m => m.end_dt, "{0:dd.MM.yyyy}", new { @class = "form-control date" })
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <input type="submit" value="Непринятые" class="btn btn-default" />
        </div>
    }
</div>
<div style="margin: 10px 0; border:none;">
    @using (Html.BeginForm("ServiceLevelDetail", "CDR", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div style="display:none">
            <div class="form-group">
                <div class="col-xs-2">
                    @Html.LabelFor(m => m.SelectedQueues)
                    @Html.ListBoxFor(m => m.SelectedQueues, Model.Queues, new { @class = "form-control", @style = "height: 200px !important" })
                </div>
                <div class="col-xs-2">
                    @Html.LabelFor(m => m.SelectedAgents)
                    @Html.ListBoxFor(m => m.SelectedAgents, Model.Agents, new { @class = "form-control", @style = "height: 200px !important" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2">
                    @Html.LabelFor(m => m.start_dt)
                    @Html.TextBoxFor(m => m.start_dt, "{0:dd.MM.yyyy}", new { @class = "form-control date" })
                </div>
                <div class="col-xs-2">
                    @Html.LabelFor(m => m.end_dt)
                    @Html.TextBoxFor(m => m.end_dt, "{0:dd.MM.yyyy}", new { @class = "form-control date" })
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <input type="submit" value="Уровень обслуживания" class="btn btn-default" />
        </div>
    }
</div>