<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vega</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("/scripts/jqueryui/themes/base/jquery-ui.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("/scripts/jqueryui/ui/jquery-ui.js")
    @Scripts.Render("/scripts/jquery.maskedinput.min.js")
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $("#start_dt").datepicker({
                monthNames: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                dayNamesMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                firstDay: 1,
                dateFormat: "dd.mm.yy"
            });
            $("#end_dt").datepicker({
                monthNames: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                dayNamesMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                firstDay: 1,
                dateFormat: "dd.mm.yy"
            });
            $(".date").datepicker({
                monthNames: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                dayNamesMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                firstDay: 1,
                dateFormat: "dd.mm.yy"
            });
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Vega", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Море плюсов<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Общая информация", "Index", "CRM")</li>
                            <li>@Html.ActionLink("Участники Море Плюсов", "Persons", "CRM")</li>
                            <li>@Html.ActionLink("Отчеты", "Reports", "CRM")</li>
                        </ul>
                    </li>
                    <li></li>
                    <li>@Html.ActionLink("Отчетность КЦ", "Index", "CallCenter")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <ul class="breadcrumb">@Html.MvcSiteMap().SiteMapPath()</ul>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - VEGA</p>
        </footer>
    </div>
</body>
</html>