@model Fusion.Models.IssuesModels.IssueModel
@{
    ViewBag.Title = "Новая статья";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script>
    $(function () {
        CKEDITOR.replace('Content');
    });
</script>

<h2>Новая статья</h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("New", "Issues", FormMethod.Post))
        {
            <div class="row">
                <div class="form-group" style="margin-bottom: 10px;">
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Author, new { @readonly = "readonly", @class = "form-control input-sm", @disabled="true" })
                    </div>
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.Tags, new { @class = "form-control input-sm", @placeholder="Тэги" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control input-sm", @placeholder="Тема" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Content)
                        @Html.TextAreaFor(m => m.Content)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <input type="submit" value="Сохранить" class="btn btn-default btn-xs" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>