@model Fusion.Models.InternetOrders.OrderInfo

@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1251">
    <title langs="ru">Печать заказа с сайта</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(document).ready(function () {
            print("");
        });
    </script>
    <style>
        <!--
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            mso-style-parent: "";
            margin: 0cm;
            margin-bottom: .0001pt;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        p {
            margin-right: 0cm;
            mso-margin-top-alt: auto;
            mso-margin-bottom-alt: auto;
            margin-left: 0cm;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        page Section1 {
            size: 595.3pt 841.9pt;
            margin: 2.0cm 42.5pt 2.0cm 3.0cm;
            mso-header-margin: 35.4pt;
            mso-footer-margin: 35.4pt;
            mso-paper-source: 0;
        }

        div.Section1 {
            page: Section1;
        }
        -->
    </style>
</head>

<body bgcolor=white lang=RU style='tab-interval:35.4pt'>
    <div>
        @ViewBag.ErrorMessage
    </div>
    <div class=Section1>
        <p>
            <b>ЗАКАЗЧИК: </b>
            @if (Model.Properties.FirstOrDefault(p => p.OrderPropsId == 15) != null)
            {
                <br />
                <b>@Model.Properties.First(p => p.OrderPropsId == 15).Value</b>
                <br />
                <br />
                <br />
                <b>@Model.Properties.First(p => p.OrderPropsId == 11).Name: </b>@Model.Properties.First(p => p.OrderPropsId == 11).Value
                <br />
                <b>@Model.Properties.First(p => p.OrderPropsId == 12).Name: </b>@Model.Properties.First(p => p.OrderPropsId == 12).Value
                <hr>
            }
            <br><br>Город: <b>@Model.Properties.First(p => p.OrderPropsId == 17).Value</b>
            <br>
            <br>
            <b>Имя: </b>@Model.Properties.First(p => p.OrderPropsId == 7).Value
            <br>
            <br>
            <b>Адрес: </b>@Model.Properties.First(p => p.OrderPropsId == 1).Value
            <br>
            <b>Номер подъезда: </b>
            <br><b>Номер этажа: </b>
            <br>
            <br>
            <b>Контактный телефон: </b>@Model.Properties.First(p => p.OrderPropsId == 2).Value
            <br>
            <b>Контактный email: </b>@Model.Properties.First(p => p.OrderPropsId == 3).Value
            <br>
            <br><b>Тип доставки: </b>@Model.DeliveryName
            <br><span style="font-size: 18px; font-weight: bold;"><b>Время доставки: </b>@Model.Properties.First(p => p.OrderPropsId == 4).Value</span>
            <br>
            <br>
            <b>Ресторан самовывоза: </b>@if (Model.Properties.FirstOrDefault(p => p.OrderPropsId == 10) != null)
            {<text>@Model.Properties.First(p => p.OrderPropsId == 10).Value</text> }
            <br>
            <br>
            <b>Количество персон: </b>@if (Model.Properties.FirstOrDefault(p => p.OrderPropsId == 8) != null)
            {<text>@Model.Properties.First(p => p.OrderPropsId == 8).Value</text> }
            <br>
            <b>Требуется сдача с: </b>@if (Model.Properties.FirstOrDefault(p => p.OrderPropsId == 9) != null)
            {<text>@Model.Properties.First(p => p.OrderPropsId == 9).Value</text> }  руб.
            <br>
            <br>Метод оплаты: <b>@Model.PaySystem.Name</b>
            @if (@Model.Payed)
            {
                <br />
                <b>Заказ ОПЛАЧЕН</b>
            }
            <br>
            <br>
            <b>Комментарии гостя: </b>@Model.Comment
        </p>
        <p>
            <b>СЧЕТ N:</b>
            @Model.id  от
            @Model.DateInsert.ToString("dd.MM.yyyy")
        </p>

        @if (Model.Properties.FirstOrDefault(p => p.OrderPropsId == 19) != null)
        {
            <p>
                ПРОМОКОД:
                <b>@Model.Properties.FirstOrDefault(p => p.OrderPropsId == 19).Value</b>
            </p>
        }

        <table border="0" cellspacing="0" cellpadding="2" width="100%">
            <tr bgcolor="#E2E2E2">
                <td align="center" style="border: 1pt solid #000000; border-right:none;">№</td>
                <td align="center" style="border: 1pt solid #000000; border-right:none;">Предмет счета</td>
                <td nowrap align="center" style="border: 1pt solid #000000; border-right:none;">Кол-во</td>
                <td nowrap align="center" style="border: 1pt solid #000000; border-right:none;">Цена, руб</td>
                <td nowrap align="center" style="border: 1pt solid #000000;">Сумма, руб</td>
            </tr>
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                <tr valign="top">
                    <td bgcolor="#ffffff" style="border: 1pt solid #000000; border-right:none; border-top:none;">
                        @(i + 1)
                    </td>
                    <td bgcolor="#ffffff" style="border: 1pt solid #000000; border-right:none; border-top:none;">
                        [@Model.Items[i].productId] @Model.Items[i].ProductName
                    </td>
                    <td align="right" bgcolor="#ffffff" style="border: 1pt solid #000000; border-right:none; border-top:none;">
                        @Model.Items[i].Quantity.ToString("0.00")
                    </td>
                    <td align="right" bgcolor="#ffffff" style="border: 1pt solid #000000; border-right:none; border-top:none;">
                        @Model.Items[i].Price.ToString("0.00")
                    </td>
                    <td align="right" bgcolor="#ffffff" style="border: 1pt solid #000000; border-top:none;">
                        @(Model.Items[i].Price * Model.Items[i].Quantity)
                    </td>
                </tr>
            }

            @if (Model.Discount != 0 && Model.Properties.FirstOrDefault(p => p.OrderPropsId == 19) != null)
            {
                <tr>
                    <td align="right" bgcolor="#ffffff" colspan="4" style="border: 1pt solid #000000; border-right:none; border-top:none;">Скидка (@(100 / ((Model.Price + Model.Discount) / Model.Discount))%):</td>
                    <td align="right" bgcolor="#ffffff" style="border: 1pt solid #000000; border-top:none;">@Model.Discount</td>
                </tr>
            }
            <tr>
                <td align="right" bgcolor="#ffffff" colspan="4" style="border: 1pt solid #000000; border-right:none; border-top:none;"><b>Итого:</b></td>
                <td align="right" bgcolor="#ffffff" style="border: 1pt solid #000000; border-top:none;"><b>@Model.Price</b></td>
            </tr>
        </table>

    </div>

</body>

</html>