@model List<Fusion.Models.VegaSetting>

@{
    ViewBag.Title = "Настройки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("Settings", "Profile", FormMethod.Post))
{
    <h4>Персональные настройки</h4>
    <table class="table table-bordered table-striped">
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.SettingTitle</td>
                <td>
                    <input type="hidden" name="settingName" value="@s.SettingName" />

                    @if (s.VegaPersonalSetting.FirstOrDefault(p => p.UserName == User.Identity.Name) != null)
                    {
                        if (s.SettingType == "System.Boolean")
                        {
                            <input type="checkbox" checked="@Boolean.Parse(s.VegaPersonalSetting.FirstOrDefault(p => p.UserName == User.Identity.Name).SettingValue)" name="@s.SettingName" />
                        }
                        if (s.SettingType == "System.Int32")
                        {
                            <input type="number" value="@s.VegaPersonalSetting.FirstOrDefault(p => p.UserName.ToLower() == User.Identity.Name.ToLower()).SettingValue" name="@s.SettingName" class="form-control" />
                        }
                        if (s.SettingType == "System.String")
                        {
                            <input type="text" value="@s.VegaPersonalSetting.FirstOrDefault(p => p.UserName.ToLower() == User.Identity.Name.ToLower()).SettingValue" name="@s.SettingName" class="form-control" />
                        }
                    }
                    else
                    {
                        if (s.SettingType == "System.Boolean")
                        {
                            <input type="checkbox" name="@s.SettingName" />
                        }
                        if (s.SettingType == "System.Int32")
                        {
                            <input type="number" name="@s.SettingName" class="form-control" />
                        }
                        if (s.SettingType == "System.String")
                        {
                            <input type="text" name="@s.SettingName" class="form-control" />
                        }
                    }
                </td>
            </tr>
        }
    </table>
    <input type="submit" value="Сохранить" class="btn btn-primary"/>
}