@model Fusion.Models.SalaryModels.Vega1CWS.TimeSheetViewModel

@{
    ViewBag.Title = "Данные БиоТайм " + Model.FullName;
    Layout = "~/Views/Shared/_LayoutWide.cshtml";

    int daysCount = DateTime.DaysInMonth(Model.Period.Year, Model.Period.Month);
    string monthColumn = "";
    string rules = "";

    for (int i = 1; i <= DateTime.DaysInMonth(Model.Period.Year, Model.Period.Month); i++)
    {
        rules += "\"d" + i.ToString() + "\":IsNumber,";

        if (System.Globalization.CultureInfo.GetCultureInfo("ru-RU").DateTimeFormat.GetAbbreviatedDayName(new DateTime(Model.Period.Year, Model.Period.Month, i).DayOfWeek) == "Сб" || System.Globalization.CultureInfo.GetCultureInfo("ru-RU").DateTimeFormat.GetAbbreviatedDayName(new DateTime(Model.Period.Year, Model.Period.Month, i).DayOfWeek) == "Вс")
        {
            monthColumn += "{ id: 'd" + i.ToString() + "', header: '" + i.ToString() + " " + System.Globalization.CultureInfo.GetCultureInfo("ru-RU").DateTimeFormat.GetAbbreviatedDayName(new DateTime(Model.Period.Year, Model.Period.Month, i).DayOfWeek) + "', width: 60, editor: 'text', batch: 2, css:{'background': '#fbfafa'} },\r\n";
        }
        else
        {
            monthColumn += "{ id: 'd" + i.ToString() + "', header: '" + i.ToString() + " " + System.Globalization.CultureInfo.GetCultureInfo("ru-RU").DateTimeFormat.GetAbbreviatedDayName(new DateTime(Model.Period.Year, Model.Period.Month, i).DayOfWeek) + "', width: 60, editor: 'text',    batch: 2 },\r\n";
        }
    }

    int j = 0;

    string TableData = "";
    string SpansData = "";

    foreach (var subdivision in Model.Subdivisions)
    {
        TableData += "{ id: \"sub" + subdivision.FullName + "\", subdiv: \"" + subdivision.FullName + "\", $css:\"subhighlight\" },\r\n";

        bool ngroup = false;

        foreach (var e in subdivision.Employees)
        {
            j++;
            ngroup = false;
            string dataMismatchCSS = ", $cellCss: {";
            string css = "";

            TableData += "{ isbt: false, Code: \"" + e.Code + "\", Organization: \""
                + Model.FullName + "\", Period: \"" + Model.Period + "\", DocNumber: \""
                + Model.DocNumber + "\", Date: \"" + Model.Date.ToString("yyyy-MM-dd") + "\", Position: \""
                + e.Position + "\", subdiv: \"" + subdivision.FullName + "\", FullName: \""
                + e.FullName + "\", Rate: \"" + e.Rate + "\", source:\"РВ\"";

            for (int i = 0; i < daysCount; i++)
            {
                var ts = e.TimeSheet.FirstOrDefault(p => p.Day.Day == (i + 1));
                var bt = e.BioTimeData.FirstOrDefault(p => p.Day.Day == (i + 1));

                if (ts != null)
                {
                    if (bt == null || ts.Hours != bt.Hours)
                    {
                        dataMismatchCSS += "d" + (i + 1).ToString() + ": \"mismatch\", ";
                    }
                }
                else
                {
                    if (bt != null)
                    {
                        dataMismatchCSS += "d" + (i + 1).ToString() + ": \"mismatch\", ";
                    }
                }
            }

            for (int i = 0; i < e.TimeSheet.Count; i++)
            {
                TableData += ", d" + e.TimeSheet[i].Day.Day.ToString() + ": \"" + e.TimeSheet[i].Hours.ToString() + "\"";

                var t = e.BioTimeData.FirstOrDefault(p => p.Day.Day == e.TimeSheet[i].Day.Day);
            }

            if (ngroup)
            {
                css = ", $css:\"bthighlighttop\"";
            }

            TableData += dataMismatchCSS + "} " + css + "},";

            TableData += "{ isbt: true, Code: \"" + e.Code + "_BT\", Organization: \""
                + Model.FullName + "\", Period: \"" + Model.Period + "\", DocNumber: \""
                + Model.DocNumber + "\", Date: \"" + Model.Date.ToString("yyyy-MM-dd") + "\", Position: \""
                + e.Position + "\", subdiv: \"" + subdivision.FullName + "\", FullName: \""
                + e.FullName + "\", Rate: \"" + e.Rate + "\", source: \"BioTime\"";

            for (int i = 0; i < e.BioTimeData.Count; i++)
            {
                TableData += ", d" + e.BioTimeData[i].Day.Day.ToString() + ": \"" + e.BioTimeData[i].Hours.ToString() + "\"";
            }

            if (ngroup)
            {
                css = ", $css:\"bthighlightbottom\"";
            }

            TableData += css + "},";
        }

    }

    foreach (var subdivision in Model.Subdivisions)
    {
        SpansData += "[ \"sub" + subdivision.Code + "\", \"subdiv\", 2, 1, null, \"subhighlight\" ],\r\n";
    }
}

<link href="~/Scripts/css/fixed_table_rc.css" rel="stylesheet" />
<script src="~/Scripts/js/fixed_table_rc.js"></script>

<div style="position:absolute; left: 0; top: 0; height: 100%; width: 100vw;background:#fff url('/images/1369408992_cat-3.gif') no-repeat center; display: none;z-index:9999;opacity:0.8;" id="loader">
    <h3 style="display:block; margin: 20px auto">Пожалуйста подождите...</h3>
</div>

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-3 text-center">
        <div class=" alert alert-info">
            Месяц: <b>@Model.Period.ToString("MMMM yyyy")</b>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class=" alert alert-info">
            Организация: <b>@Model.FullName</b>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class=" alert alert-info">
            Номер: <b>@Model.DocNumber</b>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class=" alert alert-info">
            Дата: <b>@Model.Date.ToString("dd.MM.yyyy")</b>
        </div>
    </div>
</div>

@if (Model.CarriedOut)
{
    <div class="alert alert-danger">
        Документ проведен и доступен только для просмотра. Изменение заблокировано.
    </div>
}

<div class="alert alert-danger">
    <p>
        Пометка в колонке "Источник":
        <br/>
        РВ - ручной ввод
        <br/>
        BioTime - данные, полученные из BioLink BioTime
        <br/>
        <br />
        В случае, если данные не совпдают, ячейка, в которой значение проставлена вручную, "подсвечивается" цветом.
    </p>
    <p>
        Данные для редактирования доступны только в строках, источник которых "ручной ввод". Данные из BioTime недоступны для редактирования. В данный момент эти данные используются как "справочные", однако в скором времени будет заблокирована возможность 
        "ручного ввода", за исключением случаев, когда необходима корректировка.
    </p>
    <p>
        Также, сейчас есть возможность "вбивать" более 14 часов за смену одному сотруднику. Однако, в дальнейшем этой возможности не будет. Необходимо соблюдать трудовое законодательство.
    </p>
</div>

<script src="~/Scripts/codebase/webix.js"></script>
<link href="~/Scripts/codebase/webix.css" rel="stylesheet" />
<script src="~/Scripts/codebase/i18n/ru.js"></script>

<style>
    .webix_ss_center_scroll {
        cursor: cell !important;
    }

    .mystyle1 {
        font-weight: bold;
        color: #B51454;
        background-color: #FFAAAA;
    }

    .mystyle2 {
        font-weight: bold;
        background-color: #AFA;
    }

    .weekend {
        background: #f00;
    }

    #grid {
        margin-left: 0px;
    }

    .bthighlighttop {
        color: #000;
        border-top: 1px dotted #888;
    }

    .bthighlightbottom {
        color: #000;
        border-bottom: 1px dotted #888 !important;
    }

    .mismatch {
        background-color: #ffbdbc;
    }

    .subhighlight {
        background-color: #b7caec;
        font-weight: bold;
    }

    .ui-datepicker-calendar {
        display: none;
    }

    .ui-datepicker {
        z-index: 9999 !important;
    }
</style>

<script type="text/javascript">
    $(function () {
        var timerId = setInterval("AutoSave()", 300000);

        $('.date-picker').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'm.yy',
            onClose: function (dateText, inst) {
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                blur();
            }
        });
        $.datepicker.setDefaults($.datepicker.regional["ru"]);

        var form = {
            view: "htmlform",
            content: "TimeSheetParameters"
        };

        var TSParameters = webix.ui({
            view: "window",
            id: "TSParameters",
            width: 300,
            position: "center",
            modal: true,
            head: "Создание новой ведомости",
            body: webix.copy(form)
        });

        var docnumber = "@Model.DocNumber";

        if (docnumber == null || docnumber == '' || @Model.CarriedOut)
            clearInterval(timerId);

        if ((docnumber == null || docnumber == ''))
            TSParameters.show();
    });

    function ApplyTSParameters() {
        $("#loader").show();
        window.location.href = '/Salary/TimeSheet?orgname=' + encodeURIComponent($("#FullName").val()) + '&period=' + $("#Period").val();
        return false;
    }

    webix.ready(function () {
        var CarriedOut = @Model.CarriedOut.ToString().ToLower();

        grid = webix.ui({
            container: "tabl",
            id: "grid",
            view: "datatable",
            leftSplit: 11,
            rowHeight: 23,
            padding: 5,
            columns: [
              { id: "isbt", header: "", hidden: "true" },
              { id: "subdivisiionId", header: "subdivisiionId", hidden: "true" },
              { id: "DocNumber", header: "DocNumber", hidden: "true" },
              { id: "Date", header: "Date", hidden: "true" },
              { id: "Period", header: "Period", hidden: "true" },
              { id: "Organization", header: "Organization", hidden: "true" },
              { id: "Code", header: "Code", hidden: "true" },
              { id: "subdiv", header: [{ text: "Подразд." }, { content: "selectFilter" }], width: 80 },
              { id: "Position", header: "Должность", width: 150},
              { id: "FullName", header: [{ text: "ФИО" }, { content: "selectFilter" }], width: 230 },
              { id: "source", header: [{ text: "Источник" }, { content: "selectFilter" }], width: 70 },
              { id: "Rate", header: "Оклад" },
              { id: "hours", header: "Итого", width: 50, math: "[$r,d1] + [$r,d2]+ [$r,d3]+ [$r,d4]+ [$r,d5]+ [$r,d6]+ [$r,d7]+ [$r,d8]+ [$r,d9]+ [$r,d10]+ [$r,d11]+ [$r,d12]+ [$r,d13]+ [$r,d14]+ [$r,d15]+ [$r,d16]+ [$r,d17]+ [$r,d18]+ [$r,d19]+ [$r,d20]+ [$r,d21]+ [$r,d22]+ [$r,d23]+ [$r,d24]+ [$r,d25]+ [$r,d26]+ [$r,d27]+ [$r,d28]+ [$r,d29]+ [$r,d30]+ [$r,d31]" },
              @Html.Raw(monthColumn)
            ],
            rules:{
                @Html.Raw(rules)
            },
            spans: true,
            data: {
                data: [
                    @Html.Raw(TableData)
                ],
                spans: [
                    @Html.Raw(SpansData)
                ]
            },
            on: {
                onBeforeEditStart: function (id) {
                    var row = id.row;
                    var column = id.column;
                    return !this.getItem(id.row)["isbt"];
                }
            },
            editable: @((!Model.CarriedOut).ToString().ToLower()),
            select: "cell",
            multiselect: true,
            blockselect: true,
            clipboard: "block",
            navigation: "true",
            editaction: "dblclick",
            height: 500,
            math: true
        });

        webix.UIManager.addHotKey("any", function (view) {
            var pos = view.getSelectedId();

            if(!CarriedOut)
            {
                view.edit(pos);
            }
        }, grid);

        grid.attachEvent("onPaste", function (code, e) {
            grid.refreshColumns();
        });
    });

    function IsNumber(value){
        if(typeof value == "undefined" || value == "")
            return true;
        else
            return $.isNumeric(value);
    }

    function Save() {
        var grid = $$("grid");
        var filter = grid.getFilter("FullName").value;
        var subdivFilter = grid.getFilter("subdiv").value;
        var sourceFilter = grid.getFilter("source").value;
        var carriedOut = @Model.CarriedOut.ToString().ToLower();

        if(carriedOut)
            return;

        if (filter != "" || subdivFilter != "" || sourceFilter != "")
        {
            alert("Сохранение документа невозможно, так как установлен фильтр! Перед сохранением удалите, пожалуйста, фильтр!");
            return;
        }

        webix.message({ type: "default", text: "Сохранение ведомости..." });
        $("#loader").show();
        var grid = $$("grid");
        var serializedData = grid.serialize();
        webix.ajax().post("/Salary/SaveTimeSheet", { data: serializedData }, function (result) {
            $("#loader").hide();
            var response = JSON.parse(result)
            webix.message({ type: response.result, text: response.message });
        });

        return false;
    }

    function AutoSave() {
        var carriedOut = @Model.CarriedOut.ToString().ToLower();

        if(carriedOut)
            return;

        var grid = $$("grid");
        var filter = grid.getFilter("FullName").value;
        var subdivFilter = grid.getFilter("subdiv").value;
        var sourceFilter = grid.getFilter("source").value;

        if (filter != "" || subdivFilter != "" || sourceFilter != "")
        {
            webix.message({
                type: "error",
                text: "Автосохранение не возможно. Установлен фильтр!"
            });
            return;
        }

        webix.message({
            type: "default",
            text: "Автосохранение..."
        });
        var grid = $$("grid");
        var serializedData = grid.serialize();
        webix.ajax().post("/Salary/SaveTimeSheet", { data: serializedData }, function (result) {
            var response = JSON.parse(result)
            webix.message({ type: response.result, text: response.message });
        });
        return false;
    }
</script>

<div id="areaC"></div>

<div id="tabl"></div>

<div id="TimeSheetParameters">
    <div class="alert-danger">
        @ViewBag.Error
    </div>

    @Html.HiddenFor(m => m.DocNumber)
    <label>Период (месяц / год)</label>
    @Html.TextBoxFor(m => m.Period, String.Format("{0:MM/yyyy}", Model.Period), new { @class = "date-picker form-control", @style = "text-align: center" })
    <label>Выберите организацию</label>
    @Html.DropDownListFor(m => m.FullName, Model.OrganizationsSelectList, new { @class = "form-control", @style = "text-align: center" })
    <br />
    <a href="#" onclick="ApplyTSParameters();" class="btn btn-success form-control">Применить</a>
</div>

<br />

@if (!Model.CarriedOut)
{
    <input type="button" value="Сохранить" onclick="Save()" class="btn btn-success" />
}