@model Fusion.Models.SalaryModels.Organization
@{
    ViewBag.Title = "Создание начислений и удержаний";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
    int miscCount = Model.Accruals.Count + Model.Detentions.Count;
    string miscColumn = "";

    int all = miscCount;
    
    for (int i = 0; i < miscCount; i++)
    {
        miscColumn += "{ width: 90, align: 'center' },\r\n";
    }
}

<link href="~/Scripts/css/fixed_table_rc.css" rel="stylesheet" />
<script src="~/Scripts/js/fixed_table_rc.js"></script>

<style>
    html, body {
        margin: 0;
        padding: 0;
    }

    input[type="text"]:focus {
        cursor: text;
        outline: none;
    }

    input[type="text"] {
        background: rgba(0, 0, 0, 0);
        cursor: cell;
    }
    /*div.container {
        padding: 5px 15px;
        width: 80vw;
        margin: 10px auto;
    }*/

    .ui-widget-header {
        font-weight: normal !important;
    }

    .ft_container table tr th,
    .ft_container table tr td {
        padding: 2px 0 2px 0 !important;
    }

    .ft_container table tr th {
        background-color: #DBEAF9;
    }

    .ui-datepicker-calendar {
        display: none;
    }

    .ui-datepicker {
        z-index: 9999 !important;
    }
</style>
<script>
    $(function () {
        $('#fixed_hdr1').fxdHdrCol({
            fixedCols: 2,
            width: '100%',
            height: '70vh',
            colModal: [
                { width: 200, align: 'left' },
                { width: 250, align: 'left' },
                @Html.Raw(miscColumn)
            ]
        });

        $('input').click(function () {
            $(this).select()
        });

        $("#FullName").change(function () {
            blur();
        });
        $("#Period").change(function () {
            blur();
        });
        $('.date-picker').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: '0m.yy',
            onClose: function (dateText, inst) {
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                blur();
            }
        });
        $.datepicker.setDefaults($.datepicker.regional["ru"]);
        $('Form').keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
        var i = document.getElementById("Form");
        i.style.opacity = 1;
    });
</script>

<script>
    function blur() {
        $("#loader").show();
        var i = document.getElementById("Form");
        i.style.opacity = 0.5;
        window.location.href = '/Salary/SalaryCharge?OrgName=' + $("#FullName").val() + '&period=' + $("#Period").val();
    }
    function opacity()
    {
        $("#loader").show();
    }
</script>

<div style="position:absolute; left: 0; top: 0; height: 100%; width: 100vw;background:#fff url('/images/1369408992_cat-3.gif') no-repeat center; display: none;z-index:9999;opacity:0.8;" id="loader">
    <h3 style="display:block; margin: 20px auto">Пожалуйста подождите...</h3>
</div>
@using (Html.BeginForm("SalaryCharge", "Salary", FormMethod.Post, new { id = "Form" }))
{
    <div class="form-group" style="width: 250px;">
        @Html.TextBoxFor(m => m.Period, String.Format("{0:MM/yyyy}", Model.Period), new { @class = "date-picker form-control" })
        @Html.DropDownListFor(m => m.FullName, Model.OrganizationsSelectList, new { @class = "form-control" })
    </div>

    <div class="dwrapper" style="font-size:13px;font-weight:normal">
        <table id="fixed_hdr1" class="">
            <thead>
                <tr>
                    <th>Должность</th>
                    <th>ФИО</th>
                    @for (int i = 0; i < Model.Accruals.Count; i++)
                    { 
                        <th>@Model.Accruals[i].Name</th>
                    }
                    @for (int i = 0; i < Model.Detentions.Count; i++)
                    {
                        <th>@Model.Detentions[i].Name</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Subdivisions.Count; i++)
                {
                    all = all + 2;
                    <tr>
                        <th colspan="@all">
                            @Html.HiddenFor(m => m.Subdivisions[i].Code)
                            @Html.HiddenFor(m => m.Subdivisions[i].FullName)
                            @Model.Subdivisions[i].FullName
                        </th>
                    </tr>
                    for (int j = 0; j < Model.Subdivisions[i].Employees.Count; j++)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(m => m.Subdivisions[i].Employees[j].Code)
                                @Html.HiddenFor(m => m.Subdivisions[i].Employees[j].FullName)
                                @Html.HiddenFor(m => m.Subdivisions[i].Employees[j].Position)
                                @Model.Subdivisions[i].Employees[j].Position
                            </td>
                            <td>
                                @Model.Subdivisions[i].Employees[j].FullName
                            </td>
                            @for (int t = 0; t < Model.Subdivisions[i].Employees[j].Accruals.Count; t++)
                            {
                                <td>
                                    @Html.HiddenFor(m => m.Subdivisions[i].Employees[j].Accruals[t].Code)
                                    @Html.TextBoxFor(m => m.Subdivisions[i].Employees[j].Accruals[t].Sum, new { @style = "width: 90px; border: none;text-align:center;" })
                                </td>
                            }
                            @for (int t = 0; t < Model.Subdivisions[i].Employees[j].Detentions.Count; t++)
                            {
                                <td>
                                    @Html.HiddenFor(m => m.Subdivisions[i].Employees[j].Detentions[t].Code)
                                    @Html.TextBoxFor(m => m.Subdivisions[i].Employees[j].Detentions[t].Sum, new { @style = "width: 90px; border: none;text-align:center;" })
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <br />
    <input type="submit" value="Сохранить" onclick="opacity()" class="btn btn-success" />
}