@model Fusion.Models.SalaryModels.Vega1CWS.TimeSheetViewModel

@{
    ViewBag.Title = "Индивидуальные графики";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(function () {
        $("#FullName").change(function () {
            blur();
        });
        var i = document.getElementById("Form");
        i.style.opacity = 1;
    });
</script>

<script>
    function blur() {
        $("#loader").show();
        var i = document.getElementById("Form");
        i.style.opacity = 0.5;
        window.location.href = '/Salary/TimeSheets?orgname=' + encodeURIComponent($("#FullName").val());
    }
</script>

<div style="position:absolute; left: 0; top: 0; height: 100%; width: 100vw;background:#fff url('/images/1369408992_cat-3.gif') no-repeat center; display: none;z-index:9999;opacity:0.8;" id="loader">
    <h3 style="display:block; margin: 20px auto">Пожалуйста подождите...</h3>
</div>

<div class="row">
    <div class="col-md-3">
        @using (Html.BeginForm("TimeSheets", "Salary", FormMethod.Get, new { id = "Form" }))
        {
            @Html.DropDownListFor(m => m.FullName, Model.OrganizationsSelectList, new { @class = "form-control" })
        }
    </div>
    <div class="col-md-offset-3 right">
        @Html.ActionLink("Создать", "TimeSheet", "Salary", new { @class = "btn btn-default" })
    </div>
</div>
<br />
<table class="table table-hover table-bordered table-responsive table-striped">
    <tr style="background-color: #DBEAFD">
        <th>Дата</th>
        <th>Номер</th>
        <th>Период регистрации</th>
        <th>Организация</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    @foreach (var d in Model.Documents.OrderByDescending(p => p.Date))
    {
        string textDecoration = "none";
        string color = "#000";

        if (d.Deleted)
        {
            textDecoration = "line-through";
        }

        if (d.CarriedOut)
        {
            color = "#0A0";
        }

        <tr style="text-decoration:@textDecoration;color:@color;cursor:pointer" onclick="location.href = '/Salary/TimeSheet?number=@d.Number&orgname=@d.Organization.Name&year=@d.Date.Year'">
            <td>@d.Date.ToString("dd.MM.yyyy")</td>
            <td>@d.Number</td>
            <td>@d.RegistrationPeriod.ToString("MMMM yyyy")</td>
            <td>@d.Organization.Name</td>
            @if (d.CarriedOut)
            {
                <td>Проведен</td>
            }
            else
            {
                <td>Не проведен</td>
            }
            <td>
                @Html.ActionLink("BioTime", "GetBioTimeData", new { @number=d.Number, @orgname=d.Organization.Name, @year=d.Date.Year })
            </td>
        </tr>
    }
</table>